<header class="main-nav">
    <nav>
        <div class="main-navbar">
            <div class="left-arrow disabled" id="left-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></div>
            <div id="mainnav">
                {% if currentUser %}
                    <div class="sidebar-user text-center">
                        <a class="setting-primary" href="{{ path('edit_user', {id: currentUser.id}) }}" data-bs-original-title="" title="">
                            <i class="fa fa-spin fa-gear"></i>
                        </a>
                        <a href="{{ path('user', {id: currentUser.id}) }}" data-bs-original-title="" title="">
                            <img id="profilePictrure" class="img-90 rounded-circle" src="{{ makePath(currentUser.profilePicture) }}" alt="">
                            <h6 class="mt-3 f-14 f-w-600">{{ currentUser.userName }}</h6>
                        </a>
                        <ul>
                            <li>
                                <p>comments :</p>
                                <span class="counter">{{ getCollection('comment', {'authorId': currentUser.id, 'status': 1})|length }}</span>
                            </li>
                            <li>
                                <p>Created at :</p>
                                <span>{{ currentUser.createdAt|date('d/m/Y') }}</span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <ul class="nav-menu custom-scrollbar" style="display: block;">
                    <li class="mb-3"></li>
                    <li class="mb-3"><a class="nav-link menu-title {% if currentRoute == "home" %}active{% endif %}" href="{{ path("home") }}">
                        <span>Home</span></a>
                    </li>
                        
                    <li class="mb-3"><a class="nav-link menu-title {% if currentRoute == "posts" %}active{% endif %}" href="{{ path("posts") }}">
                        <span>Posts</span></a>
                    </li>
                        
                    {% if currentUser.role == 'user' or currentUser.role == 'admin' %}    
                    <li class="mb-3"><a class="nav-link menu-title {% if currentRoute == "posts_user" %}active{% endif %}" href="{{ path("posts_user", {id: currentUser.id}) }}">
                        <span>My posts</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>