{% extends 'admin.html.twig' %}

{% block ariane %}
<div class="col-sm-6">
    <h3>{{ location }}</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin" data-bs-original-title="" title="">Admin</a> / <a href="/posts-admin" data-bs-original-title="" title="">{{ location }}</a></li>
    </ol>
</div>
<div>
</div>
{% endblock %}

{% block base %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <table class="table datatable table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Profile picture</th>
                        <th>userName</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Last Connexion</th>
                        <th><!--Actions--></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <img class="img-50 img-fluid rounded-circle update_img_0" src="{{ makePath(user.profilePicture) }}">
                        </td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.lastLogin|date('d/m/Y H:i:s') }}</td>
                        <td class="text-end">
                            <a href="{{ path('user_admin',{id: user.id}) }}" class="btn btn-square btn-primary"><i class="fa fa-edit"></i></a>
                            <a href="{{ path('remove_admin_user',{id: user.id}) }}" class="btn btn-square btn-danger"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.datatable').DataTable({
            columnDefs: [
                { orderable: false, targets: [7] }
            ],
        });
    });
</script>
{% endblock %}