{% extends 'base.html.twig' %}

{% block ariane %}
<div class="col-sm-6">
    <h3>{{ location }}</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" data-bs-original-title="" title="">{{ location }}</a></li>
    </ol>
</div>
{% endblock %}

{% block base %}
<div class="user-profile">
    <div class="row">

        <div class="col-xl-3 col-lg-12 col-md-5 xl-35">
            <div class="default-according style-1 faq-accordion job-accordion">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card profile-header">
                            <div class="userpro-box">
                                <div class="img-wrraper">
                                    {% if currentUser and user.id != currentUser.id %}
                                        {% if isFollowing(currentUser.id, user.id) %}
                                            <div data-href="{{ path('follow_user', {'id': user.id}) }}" class="follow setting-secondary" style="position:absolute;left:100px;">
                                                <i class="icon-heart-broken"></i>
                                            </div>
                                        {% else %}
                                            <div data-href="{{ path('follow_user', {'id': user.id}) }}" class="follow setting-primary" style="position:absolute;left:100px;">
                                                <i class="icon-heart"></i>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="avatar">
                                        <img class="img-fluid" alt="" src="{% if user.profilePicture %}{{ makePath(user.profilePicture) }}{% else %}{{ makePath('/assets/images/dashboard/1.png') }}{% endif %}">
                                    </div>
                                </div>
                                <div class="user-designation">
                                    <div class="title">
                                        <a target="_blank" href=""> 
                                            <h4>{{ user.username }}</h4>
                                            <h6>{{ user.firstName }} {{ user.lastName }}</h6>
                                        </a>
                                    </div>
                                    <div class="social-media">
                                        <ul class="user-list-social">
                                            {% if user.facebook %}<li><a href="#"><i class="fa fa-facebook"></i></a></li>{% endif %}
                                            {% if user.linkedin %}<li><a href="#"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                                            {% if user.twitter %}<li><a href="#"><i class="fa fa-twitter"></i></a></li>{% endif %}
                                            {% if user.instagram %}<li><a href="#"><i class="fa fa-instagram"></i></a></li>{% endif %}
                                        </ul>
                                            
                                    </div>
                                    <div class="follow">
                                        <ul class="follow-list">
                                            <li>
                                                <div class="follow-num counter">{{ posts|length }}</div><span>Posts</span>
                                            </li>
                                            <li>
                                                <div class="follow-num counter">{{ comments|length }}</div><span>Comments</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="p-0">
                                    <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon8" aria-expanded="true" aria-controls="collapseicon8">Followers <span class="badge rounded-pill badge-primary mx-2">{{ followers|length }}</span></button>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseicon8" aria-labelledby="collapseicon8" data-parent="#accordion">
                                <div class="card-body social-list filter-cards-view">
                                    {% for follower in followers %}    
                                        <div class="media">
                                            <a href="{{ path('user', {id: follower.follower}) }}">
                                                <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/2.png">
                                            </a>
                                            <div class="media-body">
                                                <a href="{{ path('user', {id: follower.follower}) }}">
                                                    <span class="d-block">{{ getEntity('user', follower.follower).userName }}</span>
                                                </a>
                                            </div>
                                            {% if currentUser and follower.follower != currentUser.id %}
                                                {% if isFollowing(currentUser.id, follower.follower) %}
                                                <div data-href="{{ path('follow_user', {'id': follower.follower}) }}" class="follow setting-secondary">
                                                    <i class="icon-heart-broken"></i>
                                                </div>
                                                {% else %}
                                                <div data-href="{{ path('follow_user', {'id': follower.follower}) }}" class="follow setting-primary">
                                                    <i class="icon-heart"></i>
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="p-0">
                                    <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon11" aria-expanded="true" aria-controls="collapseicon11">Followings <span class="badge rounded-pill badge-primary mx-2">{{ followings|length }}</span></button>
                                </h5>
                            </div>
                            <div class="collapse show" id="collapseicon11" aria-labelledby="collapseicon11" data-parent="#accordion">
                                <div class="card-body social-list filter-cards-view">
                                    {% for following in followings %}    
                                        <div class="media">
                                            <a href="{{ path('user', {id: following.following}) }}">
                                                <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="../assets/images/user/2.png">
                                            </a>
                                            <div class="media-body">
                                                <a href="{{ path('user', {id: following.following}) }}">
                                                    <span class="d-block">{{ getEntity('user', following.following).userName }}</span>
                                                </a>
                                            </div>
                                            {% if currentUser and following.following != currentUser.id %}
                                                {% if isFollowing(currentUser.id, following.following) %}
                                                    <div data-href="{{ path('follow_user', {'id': following.following}) }}" class="follow setting-secondary">
                                                        <i class="icon-heart-broken"></i>
                                                    </div>
                                                {% else %}
                                                    <div data-href="{{ path('follow_user', {'id': following.following}) }}" class="follow setting-primary">
                                                        <i class="icon-heart"></i>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12 col-md-7 xl-65">
            <div class="my-gallery row grid gallery-with-description" id="aniimated-thumbnials" itemscope="">
                {% for post in posts|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
                    <div class="col-lg-6 col-xl-4 box-col-6 des-xl-50 post-item" data-href="{{ path('post', {id: post.id}) }}">
                        <div class="card">
                            <div class="blog-box blog-grid">
                                <div class="blog-wrraper">
                                    <img class="img-fluid top-radius-blog" src="{% if post.image %}{{ makePath(post.image) }}{% else %}../assets/images/blog/blog-5.jpg{% endif %}" alt="">
                                </div>
                                <div class="blog-details-second">
                                    <div class="blog-post-date">
                                        <span class="blg-month">{{ post.updatedAt|date('F')|slice(0, 4) }}</span>
                                        <span class="blg-date">{{ post.updatedAt|date('d') }}</span>
                                    </div>
                                    <h6 class="blog-bottom-details">{{ post.title }}</h6>
                                    <p>{{ post.leadSentence }}</p>
                                    <div class="detail-footer"> 
                                        <ul class="sociyal-list">
                                            <li><i class="fa fa-user-o"></i>{{ getEntity("user", post.authorId).userName }}</li>
                                            <li><i class="fa fa-comments-o"></i>5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if posts is empty %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><span class="txt-primary">{{ user.userName }}</span> has no posts yet.</h5>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- user profile fifth-style end-->
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.grid').isotope({
            itemSelector: '.post-item'
        })

        $('.follow').click(function(e){
            e.preventDefault();
            console.log($(this).data('href'))
            var url = $(this).data('href')
            $.post(url, function(data){
                window.location.reload()
            })
        })

        $('.post-item').click(function() {
           window.location = $(this).data("href")
        })
    })
</script>
{% endblock %}