{% extends 'base.html.twig' %}

{% block ariane %}
<div class="col-sm-6">
    <h3>{{ location }}</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" data-bs-original-title="" title="">{{ location }}</a></li>
    </ol>
</div>
{% endblock %}

{% block base %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h5>Erwan H.</h5>
            <div class="setting-list d-flex">
                <ul class="list-unstyled setting-option">
                    <li><div class="setting-primary"><a target="_blank" href="https://www.linkedin.com/in/erwan-h-dev/"><i class="fa fa-linkedin"></i></a></div></li>
                </ul>
                <ul class="list-unstyled setting-option">
                    <li><div class="setting-primary"><a target="_blank" href="https://twitter.com/dev_erwan"><i class="fa fa-twitter"></i></a></div></li>
                </ul>
                <ul class="list-unstyled setting-option">
                    <li><div class="setting-primary"><a target="_blank" href="https://www.instagram.com/erwanHDev/"><i class="fa fa-instagram"></i></a></div></li>
                </ul>
                <ul class="list-unstyled setting-option">
                    <li><div class="setting-primary"><a target="_blank" href="https://github.com/erwan-h-dev/"><i class="fa fa-github"></i></a></div></li>
                </ul>
                
                <ul class="list-unstyled setting-option">
                    <li><div class="setting-primary"><a target="_blank" href="{{ makePath('/public/erwan-h.pdf') }}"><i class="fa fa-file-pdf-o"></i></a></div></li>
                </ul>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="avatar">
                        <img src="{{ makePath('/assets/images/erwan-h.png') }}" class="img-thumbnail rounded-circle" alt="Erwan H.">
                    </div>
                </div>
                <div class="col-sm-10">
                    <p>En tant que développeur web, je met mon expertise en programmation au service de la création et la maintenance d'applications web en utilisant des technologies comme PHP, MySQL et JavaScript. Actuellement, je travaille dans une équipe de développement en charge principalement de la création de logiciels métiers intégrés à des interfaces web, ainsi que des plateformes e-commerce. En plus de cela, je suis responsable de la maintenance et de la mise à jour des applications existantes pour garantir leur bon fonctionnement optimal.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="card">
        <div class="card-header pb-0">
            <h5>Contact</h5>
        </div>
        {% if result %}
        <script>
            $(function(){
                {% if result == 1 %}
                swal("Email sent!", "Your email has been sent successfully.", "success");
                {% else %}
                swal("Email not sent!", "Your email has not been sent.", "error");
                {% endif %}
            })
        </script>
        {% endif %}
        <div class="form theme-form">
            <div class="card-body">
                <form id="contact_form" action="{{ path('home') }}" method="post">
                    <label class="form-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-label" for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                        </div>
                    </div>
                    <label class="form-label" for="object">Object</label>
                    <input type="text" class="form-control" id="object" name="object" placeholder="Object" required>
    
                    <label class="form-label" for="message">Content Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-label" for="flexCheckDefault">Je ne suis pas un robot</label>
                    </div>  
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>

{% endblock %}