{% extends 'base.html.twig' %}

{% block ariane %}
<div class="col-sm-6">
    <h3>{{ location }}</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}" data-bs-original-title="" title="">Home</a></li>
        <li class="breadcrumb-item">posts</li>
    </ol>
</div>
<div>
</div>
{% endblock %}

{% block base %}
<div class="col-sm-12">
    <div class="row grid">
        {% for post in posts|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
        <div class="post-item col-sm-6 col-xl-3 box-col-6 des-xl-50">
            <div class="card">
                <div class="blog-box blog-grid">
                    <div class="blog-wrraper">
                        <a onclick="locationReload('{{ path('post', {id: post.id}) }}')" href="{{ path('post', {id: post.id}) }}">
                            <img class="img-fluid top-radius-blog"  src="{% if post.image %}{{ makePath(post.image) }}{% else %}../assets/images/blog/blog-5.jpg{% endif %}" alt="">
                        </a>
                    </div>
                    <div class="blog-details-second">
                        <div class="blog-post-date">
                            <span class="blg-month">{{ post.updatedAt|date('F')|slice(0, 4) }}</span>
                            <span class="blg-date">{{ post.updatedAt|date('d') }}</span>
                        </div>
                        <a onclick="locationReload('{{ path('post', {id: post.id}) }}')" href="{{ path('post', {id: post.id}) }}">
                            <h6 class="blog-bottom-details title-post" data-id="{{ post.id}}"></h6>
                        </a>
                        <p class="leadSentence-post" data-id="{{ post.id}}"></p>
                        <div class="detail-footer"> 
                            <ul class="sociyal-list">
                                <li><a onclick="locationReload('{{ path('user', {id: post.authorId}) }}')"  href="{{ path('user', {id: post.authorId}) }}"><i class="fa fa-user-o"></i>{{ getEntity("user", post.authorId).userName }}</a></li>
                                <li><i class="fa fa-comments-o"></i>{{ getCollection('comment',{'postId': post.id,'status': 1})|length }}</li>
                            </ul>
                        </div>
                        <input type="hidden" class="title" value="{{ post.title|raw }}" data-id="{{ post.id}}">
                        <input type="hidden" class="leadSentence" value="{{ post.leadSentence|raw }}" data-id="{{ post.id}}">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>

    $(document).ready(function() {
        $('.grid').isotope({
            itemSelector: '.post-item',
        });

        $('.title').each(function(){
            var id = $(this).attr('data-id');
            var title = $(this).val();
            $(".title-post[data-id='"+id+"']").html(title);
        });

        $('.leadSentence').each(function(){
            var id = $(this).attr('data-id');
            var leadSentence = $(this).val();
            $(".leadSentence-post[data-id='"+id+"']").html(leadSentence);
        });
    });

    function locationReload(url){
        window.location.href = url
    }
</script>
{% endblock %}